# Based on the existing style in lib/directory.c
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
DerivePointerAlignment: true
ColumnLimit: 0
SortIncludes: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
